fastapi
uvicorn[standard]
pydantic
python-dotenv

# Added for data ingestion and vectorization
pandas
sentence-transformers
chromadb-client
requests
mysql-connector-python  # RE-ADDED
SQLAlchemy            # ADDED for easier data ingestion
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
python-multipart